<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/style.css">
  </head>

  <body>
    <h1>The Blog</h1>
    <hr>
    <div class="main">
      <div id="nav">
        <p>NAV SECTION---plan to put blog title links here</p>
      </div>

      <div id="container_blog">
        {% for record in data%}
          <div class="blog_element">
            <p style="font-size: smaller; color: black"># {{record.blog_id}}</p>
  <!-- ADD blog TITLE HERE (use SPAN?)*/ -->
            <p style="font-size: larger; color: black">
              ADD blog TITLE HERE
            </p>
            <p id="blog_text">{{record.blog_txt}}</p>

            <div class="edit_delete">

                <div class="form_popup" name="edit_form" id="{{record.blog_id}}">
                  <form action="/update" class="form_container">
                    <!--<h1>Edit Blog</h1>-->
                    <p>#{{record.blog_id}}</p>
                    <label for="blog_title"><b>Edit title:</b></label>
                    <input type="text"  class="edit_title" name="blog_title" id="{{record.blog_id}}" value="{{record.blog_title}}" required>

                    <label for="blog_text"><b>Edit blog post:</b></label>
                    <textarea class="edit_blog_text" name="blog_text" id="{{record.blog_id}}" required rows="20" cols="60">{{record.blog_txt}}</textarea>
                    <div class="edit_form_action_buttons">
                      <button type="button" class="close_edit_form" id="{{record.blog_id}}">CLOSE</button>
                      <button type="submit" class="edit_submit" id="{{record.blog_id}}">UPDATE</button>
                      <button type="button" class="edit_cancel" id="{{record.blog_id}}">DISCARD</button>
                    </div>
                  </form>
                </div>
                     
              <input type="button" class="edit_button" id="{{record.blog_id}}" name="edit_button" value="EDIT BLOG">
              <input type="button" class="delete_button" id="{{record.blog_id}}" name="delete_button" value="DELETE BLOG">
            </div>
          </div>
        {% endfor%}

      </div>
    </div>
    <hr>

    <h2>Post a new blog</h2>
    <form action="/add" method="POST">
      <div>
        <label for="blog">Blog text:</label>
      </div>
      <div>
        <textarea name="blog" id="blog" rows="3" cols="40"></textarea>
      </div>
      <div>
        <button>Send my blog</button>
      </div>
    </form>

    <hr>
    <hr>
  </body>


  <script>
    // after HTML is loaded, perform JS actions on content
    window.addEventListener("DOMContentLoaded", domLoadedHandler);

    // Load necessary functionality
    function domLoadedHandler() {
      console.log("DOM content loaded...");
      let deleteButtons = document.getElementsByClassName("delete_button");
      let editButtons = document.getElementsByClassName("edit_button");
      let editCancelButtons = document.getElementsByClassName("edit_cancel");
      let closeEditFormButtons = document.getElementsByClassName("close_edit_form");
      let editSubmitFormButtons = document.getElementsByClassName("edit_submit");

      for (let i = 0; i < deleteButtons.length; i++) {
        deleteButtons[i].addEventListener("click", deleteClickHandler);
        editButtons[i].addEventListener("click", editClickHandler);        
        editCancelButtons[i].addEventListener("click", editCancelClickHandler);        
        closeEditFormButtons[i].addEventListener("click", closeEditFormClickHandler);        
        editSubmitFormButtons[i].addEventListener("click", editSubmitFormClickHandler);        

      }

    }

    // handler for EDIT FORM CLOSE button (in pop up edit form)
    function closeEditFormClickHandler(event){
      let button = event.target;
      let popupElements = document.getElementsByClassName("form_popup");
      for(i=0; i < popupElements.length; i++){
        if(popupElements[i].id == button.id){
          popupElements[i].style.display="none";
          break;  
        }
      }  
    }

    // handler for EDIT CANCEL button (in pop up edit form)
    function editCancelClickHandler(event){
      let button = event.target;
      let popupElements = document.getElementsByClassName("form_popup");
      for(i=0; i < popupElements.length; i++){
        if(popupElements[i].id == button.id){
          popupElements[i].style.display="none";
          break;
        }
      }  
// ?? IS THERE A BETTER WAY TO UPDATE??
     window.location.reload();  
    }

    // handler for EDIT button (show pop up edit form)
    function editClickHandler(event) {
      let button = event.target;
      console.log("testing for correct (edit_button) button_id# : "+button.id);
      let popupElements = document.getElementsByClassName("form_popup");
      for(i=0; i < popupElements.length; i++){
        if(popupElements[i].id == button.id){
          popupElements[i].style.display="block";
          break;
        }
      }
    }

    // handler for UPDATE button / POST request
    async function editSubmitFormClickHandler(event){
      let button = event.target;
      let editFormTextAreaElements = document.getElementsByClassName("edit_blog_text");
      for(i=0; i < editFormTextAreaElements.length; i++){
        if(editFormTextAreaElements[i].id == button.id){
          val = editFormTextAreaElements[i].value;
          break;
        }
      }
      let data =  { "id": button.id, 
                    "value" : val
                  };
      let json = JSON.stringify(data); 
      response = await fetch("/update", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: json 
      }).then(() => {
// ?? better way to update page without reloading everything?
          window.location.reload();
        })
// ?? how to do this before .then() ?? Or within .then() before reload?
 /*     if(response.ok){
        console.log(response);
      } else {
        console.log("Something went wrong in fetch(update)");
     } 
 */   }

    // handler for DELETE button / POST request
    async function deleteClickHandler(event) {
      let button = event.target;
      console.log("testing for correct blog_id# : "+button.id);
      let data = { "id": button.id, "name" : "delete_button"};
      let json = JSON.stringify(data);     
      response = await fetch("/delete", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: 
            json 
      }).then(() => {
// ?? better way to update page without reloading everything?
          window.location.reload();
        })
// ?? how to do this before .then() ?? Or within .then() before reload?
/*      if(response.ok){
        console.log(response);
      } else {
        console.log("Something went wrong in fetch(delete)");
      } 
     
*/
    

    }
 
  </script>
</html>